<% provide(:title, "Sign in") %>
<div class="row">
	<div>
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<table>
				<thead>
					<tr>
						<td></td>
						<td><h3>Sign in</h3></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="left-side"><span class="det"><%= f.label :uname, "Username:" %></span></td>
						<td><input type="text" /><%= f.text_field :uname %></td>
					</tr>
					<tr>
						<td class="left-side"><span class="det"><%= f.label :password, "Password:" %></span></td>
						<td><input type="password" /><%= f.text_field :password %></td>
					</tr>
					<tr>
						<td></td>
						<td><%= f.submit "Sign in", :class => "btn btn-primary" %></td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
</div>