<% provide(:title, "Sign in") %>
<h3>Sign in</h3>

<div class="row">
	<div>
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<%= f.label :uname, "Username" %><br />
			<%= f.text_field :uname %>
			<br />
			<%= f.label :password %><br />
			<%= f.text_field :password %>
			<br />
			<%= f.submit "Sign in", :class => "btn btn-primary" %>
		<% end %>
	</div>
</div>