<% provide(:title, "Sign in") %>
<h3>Sign in</h3>

<div class="row">
	<div>
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<%= f.label "Username", :uname %>
			<%= f.text_field :uname %>

			<%= f.label :password %>
			<%= f.text_field :password %>

			<%= f.submit "Sign in", :class => "btn btn-primary" %>
		<% end %>
	</div>
</div>