<% if over %>
	<div>asdfqfqwefw</div>
<% else %>
	<% if view %>
		<% @students = Student.all %>
		<% @students.each do |s| %>
			<tr id="<%= s.id %>">
				<td class="s_name"><%= link_to s.name, student_path(s) %></td>
				<td class="s_period"><%= s.period %></td>
				<td class="s_grade_level"><%= s.grade_level %></td>
				<td class="s_remove"><%= link_to 'x student', '#' %></td>
			</tr>
		<% end %>
	<% else %>
		<% @students = Student.all %>
		<% @students.each do |s| %>
			<% continue = true %>
			<% students_xml.search("//student").each do |sx| %>
				<% if sx.search("name").inner_text == s.name %>
					<% activity = Activity.find(:first, :conditions => { :name => sx.search("activity").inner_text }) %>
					<% if activity[:marking_period].to_s() == mp && activity[:activity_number].to_s() == act %>
						<% continue = false %>
					<% end %>
				<% end %>
			<% end %>
			<% if continue %>
				<div class="draggable"><span><%= "#{s.name}" %></span></div>
			<% end %>
		<% end %>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.draggable').click(function(event) {
					$(this).toggleClass('grouped');
				});
				$('.draggable').draggable({
					start: function(event, ui) {
						count = 0;
						if($(this).hasClass('grouped')) {
							collectedData = "<div id='grouped-drags' style='display:none;'>";
							$('.grouped').each(function() {
								count++;
								collectedData += $(this).html();
							});
							collectedData += "</div>";

							prevData = $(this).html();
							$(this).html(count + " " + collectedData);

							prevDropHeight = $('li.droppable').height();
							$('li.droppable').animate({ height: '50px' }, 300);
							$('li.droppable').append("<div class='drag-here'><em>drag here</em></div>");
							prevWidth = $(this).width();
							$(this).css({ width: '15px' });

							$(this).addClass('selected');
						}
						prevPos = $(this).offset();
					},
					stop: function(event, ui) {
						if($(this).hasClass('grouped')) {
							$(this).html(prevData);

							$(this).css({ width: prevWidth });
							$('li.droppable').animate({ height: prevDropHeight }, 300);

							$('li.droppable').children('.drag-here').remove();
							$(this).removeClass('selected');
						}
						$(this).offset({ top: prevPos.top, left: prevPos.left });
					}
				});
				$('.droppable').droppable({
					drop: function(event, ui) {
						$.ajaxSetup({async:false});
						var draggable = ui.draggable;
						if(draggable.hasClass('grouped')) {
							var str = "";
							var values = "";
							var st = new Array();
							$.post('/get_activity', { coach: $(this).prop('id'), act: sec.substring(sec.length - 1, sec.length), mp: prim.substring(prim.length - 1, prim.length) }, function(r) { str = "The following students will be added to <strong>"+ r +"</strong>:\n"; values = r; });
							draggable.children('#grouped-drags').children('span').each(function() {
								st.push($(this).html());
								str += $(this).html() + "\n";
							});
							str += "\nIs this correct?";

							if(confirm(str)) {
								//ADD STUDENTS TO ACTIVITY
								$.post('add_to_activity', { students: st, values: values }, function(r) { alert(r); });
								change_students();
							}
						}
						$.ajaxSetup({async:true});
					}
				});
			})
		</script>
	<% end %>
<% end %>