<% teachers = User.all %>
<% passing = true %>
<% teachers.each do |t| %>
	<% io = File.open(Rails.root.join('app', 'views', 'users', 'schedules', "#{t[:name]}.xml")) %>
	<% builder = Nokogiri::XML(io) %>
	<% io.close %>

	<% if builder.xpath("root").inner_text == "" %>
		<% passing = false %>
	<% end %>
<% end %>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#add-teacher" data-toggle="tab">Add Teacher</a></li>
		<li><a href="#scheduling-teachers" data-toggle="tab">Scheduling</a></li>
		<% if passing %>
			<li><a href="#teachers-schedules" data-toggle="tab">Schedules</a></li>
		<% end %>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="add-teacher">
			<%= form_tag("/users/add_user", :id => "add_user_form") do %>
			<div>
				<table>
					<tbody>
						<tr>
							<td class="left-side"><span class="det">name:</span></td>
							<td><%= text_field_tag 'u_name' %></td>
							<td class="left-side"><span class="det">username:</span></td>
							<td><%= text_field_tag 'u_uname' %></td>
						</tr>
						<tr>
							<td class="left-side"><span class="det">passsword:</span></td>
							<td><%= password_field_tag 'u_password' %></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<%= submit_tag 'add teacher', :class => 'btn btn-primary' %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<% end %>
		</div>
		<div class="tab-pane" id="scheduling-teachers">
			Scheduling<hr />
			<%= form_tag("/users/update_schedules", :id => "update_schedules_form") do %>
				<% teachers.each do |t| %>
					<%= t[:name] %>:<br />
					<% 4.times do |x| %>
						<%= select_tag "#{t[:name]}_marking_period_#{(x+1)}", "<option>Marking Period #{(x+1)}...</option><option disabled></option><option>Gym</option><option>Prep</option><option>Duty</option><option>Health</option>".html_safe %>
					<% end %>
					<br />
				<% end %>
				<%= submit_tag 'save schedules', :class => 'btn btn-primary' %>
			<% end %>
		</div>
		<% if passing %>
			<div class="tab-pane" id="teachers-schedules">
				Schedules<br />
				<% teachers.each do |t| %>
					<% io = File.open(Rails.root.join('app', 'views', 'users', 'schedules', "#{t[:name]}.xml")) %>
					<% builder = Nokogiri::XML(io) %>
					<% io.close %>

					<%= "#{t[:name]}: '#{builder.xpath("root").inner_text}'\n" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>