<div class="teacher-select">
	<% users = User.all %>
	<% count = 1 %>
	<% users.each do |u| %>
		<% if count == 1 %>
			<div><label><input type="radio" name="coaches" value="<%= u.name %>" checked /><%= u.name %></label></div>
		<% else %>
			<div><label><input type="radio" name="coaches" value="<%= u.name %>" /><%= u.name %></label></div>
		<% end %>
		<% count = count + 1 %>
	<% end %>
</div>
<br />
<div class="tabular_opp">
	<table id="manage-activities">
		<thead>
			<tr>
				<th></th>
				<th>Activity 1</th>
				<th>Activity 2</th>
				<th>Activity 3</th>
			</tr>
		</thead>
		<tbody>
			<% count = 0 %>
			<% coach = User.find(:first) %>
			<% activities = Activity.find(:all, :conditions => { :coach => coach.name }) %>
			<% 4.times do |x| %>
				<tr>
					<td class="left-side">Marking Period <%= x + 1 %></td>
					<% 3.times do |y| %>
						<% if y != 2 %>
							<% if activities.count == 12 %>
								<td id="<%= (x+1).to_s() + "_" + (y+1).to_s() %>" class="data"><%= activities[count].name %></td>
							<% else %>
								<td id="<%= (x+1).to_s() + "_" + (y+1).to_s() %>" class="data"><em>none</em></td>
							<% end %>
						<% else %>
							<% if activities.count == 12 %>
								<td id="<%= (x+1).to_s() + "_" + (y+1).to_s() %>" class="right-side data"><%= activities[count].name %></td>
							<% else %>
								<td id="<%= (x+1).to_s() + "_" + (y+1).to_s() %>" class="right-side data"><em>none</em></td>
							<% end %>
						<% end %>
						<% count = count + 1 %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<button id="edit-all-activities" class="act-btn">Edit All</button>
	<button id="save-activities" class="act-btn">Save</button>
</div>