<script type="text/javascript">
	function endBlackout(){
		$(".blackout").css("display", "none");
		$(".msgbox").css("display", "none");
	}
	function strtBlackout(){
		$(".msgbox").css("display", "block");
		$(".blackout").css("display", "block");
	}
	$(document).ready(function() {
		$('.print_roster').each(function() {
			$(this).click(strtBlackout);
		});
		$('.blackout').click(endBlackout);
		$(document).keyup(function(e) {
			alert('asdf');
			if(e.keyCode == 27) {
				endBlackout();
				alert('fdsa');
			}
		});
		$('.activity_drop').each(function() {
			$(this).click(function() {
				var ele = $(this).parent('h4').parent('.well').children('.roster_student_list');
				if(ele.html() == "")
					$.post('/load_student_roster', { activity: $(this).prop('id') }, function(r) { ele.html(r); });
				else
					ele.html("");
				return false;
			});
		});
	})
</script>
<div class="blackout"></div>
<div class="msgbox">Test message!</div>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#your-roster" data-toggle="tab">Your Roster</a></li>
		<li><a href="#full-roster" data-toggle="tab">Full Roster</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="your-roster">
			<% @s_a_arr = Array.new %>
			<% @activity_arr = Array.new %>
			<% students.each do |s| %>
				<% if !@activity_arr.include?(s.search("activity").inner_text) %>
					<% act = Activity.find(:first, :conditions => { :name => s.search("activity").inner_text, :marking_period => s.search("marking_period").inner_text, :activity_number => s.search("activity_number").inner_text }) %>
					<% if current_user?(User.find(:first, :conditions => { :name => act[:coach] })) %>
						<% @activity_arr.push(s.search("activity").inner_text) %>
						<% @s_a_arr.push(s) %>
					<% end %>
				<% end %>
			<% end %>
			<% if @activity_arr.size <= 0 %>
				<h4>You do not have any students on your roster!</h4>
			<% else %>
				<%= link_to "print", '#', :id => 'your', :class => 'print_roster' %><br />
				<% @s_a_arr.each do |a| %>
					<div class="well">
						<h4><%= link_to a.search("activity").inner_text, '#', :id => "#{a.search("activity").inner_text}", :class => "activity_drop" %> <small>(period: <%= a.search("period").inner_text %>, marking period: <%= a.search("marking_period").inner_text %>)</small></h4>
						<div class="roster_student_list"></div>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="tab-pane" id="full-roster">
			<% if students.size > 0 %>
				<%= link_to "print", '#', :id => 'full', :class => 'print_roster' %><br />
				<% @activity_arr2 = Array.new %>
				<% students.each do |s| %>
					<% if !@activity_arr2.include?(s.search("activity").inner_text) %>
						<% @activity_arr2.push(s.search("activity").inner_text) %>
						<div class="well">
							<h4><%= link_to s.search("activity").inner_text, '#', :id => "#{s.search("activity").inner_text}", :class => "activity_drop" %> <small>(coach: <%= s.search("coach").inner_text %>, period: <%= s.search("period").inner_text %>, marking period: <%= s.search("marking_period").inner_text %>)</small></h4>
							<div class="roster_student_list"></div>
						</div>
					<% end %>
				<% end %>
			<% else %>
				<h4>There are no students assigned to activities!</h4>
			<% end %>
		</div>
	</div>
</div>