<ul class="nav nav-list navbar-inverse">
	<li class="nav-header"><%= @user.name %></li>
	<li><%= link_to "profile home", {:controller => "users", :action => "view_home"}, :remote => true %></li>
	<li><%= link_to "add teacher", {:controller => "users", :action => 'add_teacher'}, :remote => true %></li>
	<li><%= link_to "view students", {:controller => "users", :action => 'view_students'}, :remote => true %></li>
	<li><%= link_to "view roster", {:controller => "users", :action => 'view_roster'}, :remote => true %></li>
	<li><%= link_to "manage students", {:controller => "users", :action => 'manage_students', :remote => true} %></li>
	<li><%= link_to "manage activities", {:controller => "users", :action => 'manage_activities'}, :remote => true %></li>
</ul>