<% if !teacher %>
	<% if !user.teacher? %>
		<tr id="<%= user.id %>">
			<td class="u_name"><%= link_to user.name, user_path(user) %></td>
			<td class="u_period"><%= user.period %></td>
			<td class="u_grade_level"><%= user.grade_level %></td>
			<td class="u_remove"><%= link_to 'x student', '#' %></td>
		</tr>
	<% end %>
<% else %>
	<% if user.teacher? %>

	<% end %>
<% end %>