<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to "Phys. Ed.", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", help_path %></li>
					<li>
					<% if signed_in? %>
						<%= link_to "Sign out", signout_path, :method => "delete" %>
					<% else %>
						<%= link_to "Sign in", signin_path %>
					<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.collapse').collapse();
	})
</script>