<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.collapse').collapse();
			})
		</script>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/navigation' %>
		<div class="hero-unit">
			<div class="container">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>